.mainBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px 0px;
}

.sp{
    width: 50px;
    margin: 0px auto;
    border-bottom: 5px solid rgb(123, 108, 99);
    margin-top: 30px;
    margin-bottom: 30px;
}

.title{
    font-size: 40px;
    font-family: "Raleway";
    color: rgb(123, 108, 99);
    font-weight: bold;
    line-height: 1.198;
}

.p{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(33, 33, 33);
    line-height: 1.67;
}

.block1{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

.imgBlock1 img{
    width: 100%;
    height: 100%;
}


.imgBlock2 img{
    width: 100%;
    height: 100%;
}

.block2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #1A1A1A;
    padding:70px 0px;
}

.block2Title{
    font-size: 24px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.993;
}

.block2Text{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 2.657;
}

.block2 a{
    color: #29C5F2;
}
.block3{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
}

.blockBTN{
    display: flex;
    justify-content: center;
    padding:60px 0px;
}

.blockBTN button{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-family: "Raleway";
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 2.989;
    padding:0px 35px;
    cursor: pointer;
}

.blockBTN button:hover{
    background-color: #262626;
}



